/** Outside main container changes **/

.image-tooltip {
  display: flex;
  align-items: start;
  img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .tooltip{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-inline-start: 0.5rem;

    .head{
      font-weight: bold;
    }
  }
}
