@import url(~react-virtualized/styles.css);
div:focus {
  outline: none; }

/** Util Start **/
.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden {
  display: none; }

.clickable {
  cursor: pointer; }

/** Util End **/
.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box; }

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease; }

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%; }

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5); }

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize; }

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5); }

.Resizer.disabled {
  cursor: not-allowed; }

.Resizer.disabled:hover {
  border-color: transparent; }

.explorer {
  height: calc(100% - 5px);
  width: calc(100% - 20px);
  background-color: white;
  background-image: linear-gradient(to right, white, lightgray);
  margin: 0;
  padding-top: 5px;
  padding-inline-start: 20px;
  display: flex;
  flex-direction: column; }

ul {
  margin: 0;
  list-style: none; }

.list-item ul {
  padding-inline-start: 20px; }

.tree-item {
  height: 20px;
  display: flex;
  margin-bottom: 2px;
  white-space: pre;
  user-select: none;
  box-sizing: border-box;
  width: 100%; }

.tree-item-comp {
  height: 20px;
  width: 20px; }

.tree-icon {
  height: 1.125rem;
  width: 1.125rem; }

.tree-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.tree-item-lbl-container {
  flex-grow: 1;
  padding: 0 5px; }

.tree-item-lbl {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.75em; }
  .tree-item-lbl.selected {
    background: #f9fcff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #b5d5fb));
    background: linear-gradient(to bottom, white 0%, #b5d5fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54bc3e', endColorstr='#aee850',GradientType=0 );
    border: 1px solid #92c0f7;
    border-radius: 5px; }

.tree-item:hover .tree-item-lbl:not(.selected) {
  background: #dfedfc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, white), color-stop(100%, #dfedfc));
  background: linear-gradient(to bottom, white 0%, #dfedfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c4fe', endColorstr='#d3f6fe',GradientType=0 );
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #9fc8fa;
  color: #000; }

.expand-btn {
  height: 100%;
  width: 100%; }

.tree-picked-item {
  width: 1em;
  margin: 0 0.25em; }

.node-tabs {
  height: 25px !important;
  background-color: white; }
  .node-tabs .node-tab {
    display: flex;
    justify-content: center;
    align-items: center; }
    .node-tabs .node-tab .img {
      z-index: 9999;
      border: 0 !important; }
    .node-tabs .node-tab span {
      margin-left: 5px; }
  .node-tabs .MuiTabs-flexContainer {
    height: 30px; }
  .node-tabs .MuiTabs-root {
    width: 100% !important; }
  .node-tabs .MuiTab-root {
    padding: 0px !important;
    text-transform: none !important;
    min-width: 80px !important;
    min-height: 20px !important;
    color: black !important;
    background: #e4e4e4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9); }
  .node-tabs .Mui-selected {
    background: white !important;
    color: black !important; }
  .node-tabs .MuiTab-wrapper {
    font-size: 0.6rem !important;
    margin-top: -5px; }

.virtual-tree-container {
  flex: 15; }

* {
  font-family: "Roboto", "Jost", sans-serif !important; }

body {
  box-sizing: border-box;
  font-family: "Roboto", "Jost", sans-serif; }

.root-container {
  height: 100vh;
  width: 100vw; }

.left-panel {
  min-width: 290px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, white, lightgray); }

.right-panel {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; }

.right-panel canvas {
  width: 100% !important;
  height: 100% !important; }

.settings-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden; }

.settings-container {
  width: 100%;
  overflow-y: auto;
  position: relative; }
  .settings-container .settings-title-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    flex: 1; }

.icon {
  display: flex;
  align-items: center;
  justify-content: center; }
  .icon img {
    width: 1.125rem;
    height: 1.125rem; }

/* Tweak expansion panel */
.MuiExpansionPanel-root {
  border-radius: 0 !important; }

.MuiExpansionPanelSummary-content,
.MuiExpansionPanel-root.Mui-expanded {
  margin: 0px !important; }

.MuiExpansionPanelDetails-root {
  padding: 0 !important;
  display: block !important; }

/* Global title bar*/
.title-bar {
  height: 1.6rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-image: linear-gradient(to right, #fff, #efefef); }
  .title-bar h1 {
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.tool-bar {
  display: flex; }
  .tool-bar .tool-bar-icon {
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    cursor: pointer; }
    .tool-bar .tool-bar-icon:hover {
      background-color: lightblue; }
  .tool-bar .icon-selected {
    background-color: lightblue; }

.MuiCollapse-wrapperInner {
  position: relative; }

.input-icon {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer; }
  .input-icon:hover {
    background-color: lightblue; }

.input-icon-selected {
  background-color: lightblue; }

.MuiInputBase-root {
  height: 1.5rem;
  border: 1.2px solid #c4c4c4;
  font-size: 0.6rem;
  flex: 1; }

.MuiInput-underline:before {
  content: "";
  position: absolute;
  border-bottom: 0 !important; }

.MuiList-padding {
  padding: 0 !important; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: white;
  outline: none;
  margin: 0.5rem 0; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 15px;
  background: white;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 2px; }

.slider::-moz-range-thumb {
  width: 8px;
  height: 15px;
  background: white;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 2px; }

.additional-padding {
  padding-left: 0.15rem; }

.select-group {
  width: 100%;
  position: relative; }
  .select-group .MuiInputBase-root {
    height: 1.4rem;
    width: 92%;
    background-color: #f0f0f0 !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9); }
  .select-group .select-controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center; }
    .select-group .select-controls svg {
      width: 0.7rem;
      height: 0.7rem;
      font-weight: 700;
      cursor: pointer;
      right: 0;
      position: absolute;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9); }
      .select-group .select-controls svg:first-child {
        top: -1.4rem; }
      .select-group .select-controls svg:nth-child(2) {
        bottom: 0; }

.visualizer {
  width: 100%;
  height: 100%; }
  .visualizer .visualizer-toolbar-wrapper {
    position: absolute;
    z-index: 10; }
  .visualizer .visualizer-toolbar-container {
    position: relative;
    z-index: 9999; }
  .visualizer .visuaizer-toolbar {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 4rem 0.5rem 1.5rem;
    position: absolute;
    z-index: 9999;
    border: 1px solid black;
    background-color: rgba(223, 223, 223, 0.6);
    border-radius: 0.2rem; }
    .visualizer .visuaizer-toolbar .visuaizer-toolbar-group {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.1rem 0.1rem; }
    .visualizer .visuaizer-toolbar .visualizer-tool-bar-icon {
      transition: background-color 0.3s;
      padding: 0.1rem 0;
      cursor: pointer; }
      .visualizer .visuaizer-toolbar .visualizer-tool-bar-icon:hover {
        background-color: lightblue; }
      .visualizer .visuaizer-toolbar .visualizer-tool-bar-icon img {
        height: 1.3rem;
        width: 1.3rem;
        margin: 0 0.2rem; }
    .visualizer .visuaizer-toolbar .visualizer-tool-bar-icon-selected {
      background-color: lightblue !important; }
  .visualizer .handle {
    position: absolute;
    left: 0.6rem;
    top: 0.5rem; }
    .visualizer .handle img {
      width: 0.9rem;
      height: 0.9rem; }
  .visualizer .visualizer-3d {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }

.image-tooltip {
  display: flex;
  align-items: center; }
  .image-tooltip img {
    width: 1.2rem;
    height: 1.2rem; }
  .image-tooltip span {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0.4rem;
    max-width: 6rem; }
