@use "../../styles/scss/variables";

.explorer {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.explorer-tabs {
  height: 30px;
  margin-bottom: 5px;
  .explorer-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--node-viz-default-font-size, variables.$application-default-font-size);
    .img {
      z-index: 1;
      border: 0 !important;
    }
    span {
      margin-left: 5px;
    }
  }
}

.virtual-tree-container {
  padding-inline-start: variables.$tree-padding-left;
  padding-top: variables.$tree-padding-top;
  background: var(--node-viz-tree-background, variables.$tree-background);
  color: var(--node-viz-tree-color, variables.$tree-color);
  flex: 15;
}
