$tree-padding-left: 7px;
$tree-padding-top: 5px;
$explorer-font-size: 16px;
$tree-background: inherit;
$tree-color: inherit;

.explorer {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--subsurface-viz-explorer-font-size, $explorer-font-size);
}

.explorer-tabs {
  height: 30px;
  margin-bottom: 5px;
  .explorer-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    .img {
      z-index: 1;
      border: 0 !important;
    }
    span {
      margin-left: 5px;
    }
  }
}

.virtual-tree-container {
  padding-inline-start: $tree-padding-left;
  padding-top: $tree-padding-top;
  background: var(--subsurface-viz-tree-background, $tree-background);
  color: var(--subsurface-viz-tree-color, $tree-color);
  flex: 15;
}
