.reveal-360image-info {
    position: absolute;

    /* Anchor to left corner and ignore events */
    bottom: 15%;
    left: 5%;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    border-radius: 6px;


    /* Make it look nice */
    padding: 6px;
    color: #fff;
    background: #232323da;
    border: #ffffff22 solid 1px;
    overflow-wrap: break-word;
    inline-size: 300px;


    /* Font - fallback to generic font if Inter not available*/
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
}