# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
dist

#sample data
/src/Solutions/BP/MockData/Sample

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vs/slnx.sqlite
.vs/subsurface-visualization/config/applicationhost.config
.vs/subsurface-visualization/v16/.suo
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vscode/settings.json
.vscode/launch.json
.vs/reveal-architecture/v16/.suo

src/UserInterface/styles/css
yarn.lock

.env.local
standalone/package-lock.json
standalone/package-lock.json
package-lock.json
