matrix:
  include:
    - language: rust
      name: 'Rust parser'
      rust:
        - stable
        - beta
      matrix:
        allow_failures:
          - rust: nightly
        fast_finish: true

      before_script:
        - rustup component add clippy
        - rustup component add rustfmt
      script:
        # fail on warnings, test all features
        - cargo fmt -- --check
        - cargo clippy --all-targets --all-features -- -D warnings
        - cargo test --all --verbose

    - language: rust
      name: "Reveal viewer"

      install:
        # Install NVM and Node
        - sudo curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.1/install.sh | bash
        - nvm install 10
        - nvm install 12
        # Install wasm-pack for Rust
        - rm -rf $HOME/.cargo/bin/wasm-pack
        - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      script:
        - cd $TRAVIS_BUILD_DIR/viewer
        - nvm use 10
        - npm install
        - npm run release
        - npm run coverage
        # run tsc on its own to make sure there are no .ts files left behind
        - npm run tsc
        - cd $TRAVIS_BUILD_DIR/examples
        - npm install
        - npm run release
        - npm run tsc
        - cd $TRAVIS_BUILD_DIR/viewer
        - nvm use 12
        - npm install
        - npm run release
        - npm run coverage
        - npm run tsc
        - cd $TRAVIS_BUILD_DIR/examples
        - npm install
        - npm run release
        - npm run tsc
branches:
  only:
    - master

