env:
  # examples require a lot of memory...
  NODE_OPTIONS=--max-old-space-size=8192
matrix:
  include:
    - language: rust
      name: 'Rust parser'
      rust:
        - stable
        - beta
      matrix:
        allow_failures:
          - rust: nightly
        fast_finish: true
      before_script:
        - rustup component add clippy
        - rustup component add rustfmt
      script:
        # fail on warnings, test all features
        - cargo fmt -- --check
        # NOTE: as of 2020-03-17, Rust 1.42, mem_replace_with_default is triggered by a macro in wasm_bindgen
        # and needs to be disabled
        - cargo clippy --all-targets --all-features -- -D warnings -A clippy::mem_replace_with_default
        - cargo test --all --verbose

    - language: rust
      name: "Reveal viewer"
      install:
        # Install NVM and Node
        - sudo curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.1/install.sh | bash
        - nvm install 12
        # Install wasm-pack for Rust
        - rm -rf $HOME/.cargo/bin/wasm-pack
        - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
        # Install codecov for test coverage reports
        - npm install -g codecov
      script:
        - cd $TRAVIS_BUILD_DIR/viewer
        - nvm use 12
        - npm install
        - npm run build
        - npm run coverage
        # run tsc on its own to make sure there are no .ts files left behind
        - npm run tsc
        - cd $TRAVIS_BUILD_DIR/examples
        - npm install
        - npm run build
        - npm run tsc
      after_script:
        - codecov

    - language: rust
      name: "Reveal viewer release"
      if: branch =~ /^release/
      install:
        # Install NVM and Node
        - sudo curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.1/install.sh | bash
        - nvm install 12
        # Install wasm-pack for Rust
        - rm -rf $HOME/.cargo/bin/wasm-pack
        - curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      script:
        - cd $TRAVIS_BUILD_DIR/viewer
        - nvm use 12
        - npm install
        - npm run release
        - cd $TRAVIS_BUILD_DIR/examples
        - npm install
        - npm run release
        - npm run tsc

branches:
  only:
    - master
    - dependency-updates
