# dependencies
node_modules
yarn-error.log
package-lock.json

# build
build
*.tsbuildinfo

# testing
coverage

#misc
.npmrc
.idea
.env
.DS_Store

# NPM
npm-public-credentials.txt

# testcafe
*.jwk-key.json
res.xml

#storybook
storybook-static/
