 .codeSnippetHeader {
  letter-spacing: 0.08rem;
  padding: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
}

.codeSnippetEditorHeader {
  background: var(--ifm-color-emphasis-600);
  color: var(--ifm-color-content-inverse);
}

.cmEditor {
    font-size: 16px;
    font-family: var(--ifm-font-family-monospace);
    margin-bottom: 10px;
}
