.reveal-viewer-toolbar-container {
	background: white;
	color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 1px 2px 1px 2px;
}

.reveal-viewer-toolbar-container--bottom {
  left: 50%;
  bottom: 0px;
}

.reveal-viewer-toolbar-container--top {
  left: 50%;
  top: 40px;
}

.reveal-viewer-toolbar-container--left {
  left: 50px;
  top: 50%;
  width: 49px;
  max-width: 100%;
}

.reveal-viewer-toolbar-container--right {
  right: 0px;
  top: 50%;
  width: 49px;
  max-width: 100%;
}

.reveal-viewer-toolbar-icon {
  width: 45px;
  height: 38px;
  background: white;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0);
}

.reveal-viewer-toolbar-icon:hover {
  background-color: rgb(155, 155, 155);
}

.reveal-viewer-toolbar-icon:focus {
  background-color: rgb(155, 155, 155);;
}
