{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "mock": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": []
}
