// ** Supported CSS Variables ** //

//:root {
//  --v-tree-item-height: 20px;
//  --v-tree-item-bottom-margin: 2px;
//  --v-tree-item-comp-width: 1.25em;
//  --v-tree-item-indentation: 1.25em
//  --v-tree-icon-size: 1.125em;
//  --v-tree-lbl-border-radius: 0.3em;
//}

// ** Default Values ** //
$virtual-tree-item-height: 20px;
$virtual-tree-bottom-margin: 2px;
$virtual-tree-item-sub-element-width: 1.25em;
$virtual-tree-item-indentation: 1.25em;
$virtual-tree-icon-size: 1.125em;
$virtual-tree-label-border-radius: 0.3em;

// *********** Virtual Tree Start ************ //

.virtual-tree-container {
  ul {
    margin: 0;
    list-style: none;
  }

  .list-item ul {
    padding-inline-start: var(--v-tree-item-indentation, $virtual-tree-item-indentation);
  }

  .tree-item {
    height: var(--v-tree-item-height, $virtual-tree-item-height);
    display: flex;
    margin-bottom: var(--v-tree-item-bottom-margin, $virtual-tree-bottom-margin);
    white-space: pre;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
  }

  .tree-item-comp {
    height: var(--v-tree-item-height, $virtual-tree-item-height);
    width: var(--v-tree-item-comp-width, $virtual-tree-item-sub-element-width);
  }

  .tree-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tree-icon-image-container{
    background-size: var(--v-tree-icon-size, $virtual-tree-icon-size) var(--v-tree-icon-size, $virtual-tree-icon-size);
    mask-size: var(--v-tree-icon-size, $virtual-tree-icon-size) var(--v-tree-icon-size, $virtual-tree-icon-size);
    -webkit-mask-size: var(--v-tree-icon-size, $virtual-tree-icon-size) var(--v-tree-icon-size, $virtual-tree-icon-size);
    background-repeat: no-repeat;
    background-position: center;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-mode: alpha;
    filter: saturate(200%);
  }

  img.tree-icon-image{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    filter: contrast(130%);
  }

  .tree-item-lbl-container {
    flex-grow: 1;
    padding: 0 0.3em;
  }

  .tree-item-lbl {
    display: inline-flex;
    align-items: center;
    border-radius: var(--v-tree-lbl-border-radius, $virtual-tree-label-border-radius);
    cursor: pointer;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.75em;

    &.selected {
      background: #f9fcff;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, white),
        color-stop(100%, #b5d5fb)
      );
      background: linear-gradient(to bottom, white 0%, #b5d5fb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54bc3e', endColorstr='#aee850',GradientType=0 );
      border: 1px solid #92c0f7;
      border-radius: var(--v-tree-lbl-border-radius, $virtual-tree-label-border-radius);
    }
  }

  .tree-item:hover .tree-item-lbl:not(.selected) {
    background: #dfedfc;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(31%, white),
      color-stop(100%, #dfedfc)
    );
    background: linear-gradient(to bottom, white 0%, #dfedfc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c4fe', endColorstr='#d3f6fe',GradientType=0 );
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: var(--v-tree-lbl-border-radius, $virtual-tree-label-border-radius);
    border: 1px solid #9fc8fa;
    color: #000;
  }

  .expand-btn {
    height: 100%;
    width: 100%;
  }

  .tree-picked-item {
    width: 1em;
    margin: 0 0.25em;
  }
}

// *********** Virtual Tree End ************ //
