/* global utilities */
.no-border {
  border: none;
}

/* cogs fix */
.unified-cdf-3d-management-style-scope .cogs-switch .switch-ui {
  margin-left: 0;
}

/* tabs fixes */

.ant-tabs-tab-btn {
  text-shadow: none !important;
  font-weight: 500 !important;
}

/* table generic fixes */

.ant-table-column-title {
  white-space: nowrap;
}

.ant-table-column-title > * {
  white-space: nowrap;
}

.ant-table-tbody > .ant-table-row {
  cursor: pointer;
}

td.ant-table-column-sort {
  background: inherit;
}

.ant-table-column-has-sorters:hover {
  background: #f2f2f2;
}

.ant-table-row:hover > td {
  background: #f0f5ff;
}
