PORT=8080

# custom envs must be prefixed with `REACT_APP_` to be available in js

REACT_APP_PROJECT="publicdata"

# cad
REACT_APP_CAD_ID=123
REACT_APP_CAD_REVISION_ID=456

# for two-model view
REACT_APP_CAD_2_ID=789
REACT_APP_CAD_2_REVISION_ID=012

REACT_APP_POINTCLOUD_ID=345
REACT_APP_POINTCLOUD_REVISION_ID=678

REACT_APP_CREDENTIAL_ENVIRONMENTS={"environments": { "europewest11-3d": { "tenantId": "20a88741-8181-4275-99d9-bd4451666d6e", "clientId": "a03a8caf-7611-43ac-87f3-1d493c085579", "cluster": "api" }, "greenfield-3d": { "tenantId": "20a88741-8181-4275-99d9-bd4451666d6e", "clientId": "a03a8caf-7611-43ac-87f3-1d493c085579", "cluster": "greenfield" } } }
