<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>

<body>
    <table>
        <tr>
            <th id='header1' />
            <th id='header2' />
        </tr>
        <tr>
            <td>
                <canvas id='leftCanvas' width='640' height='480' />
            </td>
            <td>
                <canvas id='rightCanvas' width='640' height='480' />
            </td>
        </tr>
        <tr style="vertical-align: top; align-content: center;">
            <td id='gui1' />
            <td id='gui2' />
        </tr>
    </table>
    <script type="text/javascript" src="<%= script %>"></script>
</body>

</html>