<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>

<body>
    <div id="canvas-container" style="vertical-align: top; position: fixed; width: 800px; height: 600px;"/>
    <script type="text/javascript" src="<%= script %>"></script>
</body>

</html>
