$tree-padding-left: 7px;
$tree-padding-top: 5px;

.explorer {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--subsurface-viz-explorer-font-size, $explorer-font-size);
}

.node-tabs {
  height: 25px !important;
  .node-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
      z-index: 9999;
      border: 0 !important;
    }
    span {
      margin-left: 5px;
    }
  }
  .MuiTabs-flexContainer {
    height: 30px;
  }
  .MuiTabs-root {
    width: 100%;
    height: 100%
  }
  .MuiTab-root {
    padding: 0px !important;
    text-transform: none !important;
    min-width: 80px !important;
    min-height: 20px !important;
    color: black !important;
    background: var(--subsurface-viz-tab-background, $tab-background);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.3),
      0 1px 1px rgba(255, 255, 255, 0.9);
  }
  .Mui-selected {
    background: var(--subsurface-viz-tab-select-background, $tab-select-background);
    color: var(--subsurface-viz-tab-select-color, $tab-select-color);
  }
  .MuiTab-wrapper {
    font-size: 0.6rem !important;
    margin-top: -5px;
  }
}

.virtual-tree-container {
  padding-inline-start: $tree-padding-left;
  padding-top: $tree-padding-top;
  background: var(--subsurface-viz-tree-background, $tree-background);
  color: var(--subsurface-viz-tree-color, $tree-color);
  flex: 15;
}
