@use "variables";
.settings-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings-section-element-container {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.2rem 0.2rem 0.3rem;
}

.settings-container {
  width: 100%;
  position: relative;

  .settings-title-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
    flex: 1;
  }
}
