.settings-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings-container {
  width: 100%;
  overflow-y: auto;
  position: relative;

  .settings-title-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    flex: 1;
  }


  /* Tweak expansion panel */

  .MuiExpansionPanel-root {
    border-radius: 0 !important;
  }

  .MuiExpansionPanelSummary-root{
    background: var(--subsurface-viz-expansion-header-background, $expansion-header-background);
    color: var(--subsurface-viz-expansion-header-color, $expansion-header-color);
  }

  .MuiExpansionPanelSummary-content,
  .MuiExpansionPanel-root.Mui-expanded {
    margin: 0 !important;
  }

  .MuiCollapse-wrapperInner {
    position: relative;
  }

  .MuiExpansionPanelDetails-root {
    padding: 0 !important;
    display: block !important;
    background: var(--subsurface-viz-expansion-detail-background, $expansion-detail-background);
    color: var(--subsurface-viz-expansion-detail-color, $expansion-detail-color);
  }
}
