@use "variables";
.visualizer {
  width: 100%;
  height: calc(100% - #{variables.$status-bar-height});

  canvas {
    width: 100% !important;
    height: 100% !important;
  }

  .visualizer-3d {
    height: 100%;
    width: 100%;
    position: relative;
  }
}
