@use "react-split-pane";
@use "reset";
@use "utils";
@use "variables";
@import "~react-virtualized/styles.css";
@import "~reset-css/reset.css";

.node-viz-container {
  height: variables.$root-container-height;
  width: variables.$root-container-width;
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow: hidden;

  /** imports **/
  @import "settings";
  @import "visualizer";

  .left-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--node-viz-background, variables.$panel-background);
  }

  .right-panel {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--node-viz-background, variables.$panel-background);
  }

  /* Global title bar*/

  .tool-bar {
    display: flex;

    .tool-bar-icon {
      height: variables.$titleBarHeight;
      width: variables.$titleBarIconWidth;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
      cursor: pointer;

      &:hover {
        background: var(--node-viz-toolbar-icon-hover-background, variables.$tool-bar-icon-hover-background);
      }
    }

    .icon-selected {
      background: var(--node-viz-toolbar-icon-selected-background, variables.$tool-bar-icon-selected-background);
    }
  }

  .input-icon {
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background: var(--node-viz-toolbar-icon-hover-background, variables.$tool-bar-icon-hover-background);
    }
  }

  .input-icon-selected {
    background: var(--node-viz-toolbar-icon-selected-background, variables.$tool-bar-icon-selected-background);
  }
}

/** Outside main container changes **/

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: var(--node-viz-icon-size, variables.$icon-size);
    height: var(--node-viz-icon-size, variables.$icon-size);
  }
}

.select-option{
  color: var(--node-viz-select-input-option-color, variables.$select-input-option-color);
}
