.reveal-viewer-spinner-top-left {
  top: 10px;
  left: 10px;
}

.reveal-viewer-spinner-top-right {
  top: 10px;
  right: 10px;
}

.reveal-viewer-spinner-bottom-left {
  bottom: 10px;
  left: 10px;
}

.reveal-viewer-spinner-bottom-right {
  bottom: 10px;
  right: 10px;
}

.reveal-viewer-spinner {
  position: absolute;
  color: white;
}
.reveal-viewer-spinner--dark {
  color: black;
}

.reveal-viewer-spinner--loading #reveal-spinner-bot-1,
.reveal-viewer-spinner--loading #reveal-spinner-top-1 {
  animation: reveal-loading-opacity 0.8s ease-out infinite alternate;
}
.reveal-viewer-spinner--loading #reveal-spinner-bot-2,
.reveal-viewer-spinner--loading #reveal-spinner-top-2 {
  animation: reveal-loading-opacity 0.8s ease-out 0.2s infinite alternate;
}
.reveal-viewer-spinner--loading #reveal-spinner-bot-3,
.reveal-viewer-spinner--loading #reveal-spinner-top-3 {
  animation: reveal-loading-opacity 0.8s ease-out 0.4s infinite alternate;
}
.reveal-viewer-spinner--loading #reveal-spinner-bot-4,
.reveal-viewer-spinner--loading #reveal-spinner-top-4 {
  animation: reveal-loading-opacity 0.8s ease-out 0.6s infinite alternate;
}

.reveal-viewer-spinner--loading #center {
  transform-origin: center;
  animation: reveal-loading-scale 1.6s ease-out infinite 0.8s alternate,
    reveal-loading-opacity 1.6s ease-out infinite alternate;
}

@keyframes reveal-loading-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes reveal-loading-scale {
  100% {
    transform: scaleY(1.2) translateY(0.6px);
  }
}
