@use "../../styles/scss/variables";

.title-bar {
  height: variables.$titleBarHeight;
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  background: var(--node-viz-title-bar-background, variables.$title-bar-background);
  color: var(--node-viz-title-bar-color, variables.$title-bar-color);

  h2.title {
    font-size: var(--node-viz-secondary-header-font-size, variables.$application-secondary-header-font-size);
    margin: 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
