@use "../../styles/scss/variables";
.expansion-view-root {
  .expand-panel-root {
    padding: 0 !important;
    min-height: 1.8rem !important;
    background: var(--node-viz-expansion-header-background, variables.$expansion-header-background);
    color: var(--node-viz-expansion-header-color, variables.$expansion-header-color);

    .expand-summary-header {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 !important;
      min-height: 1.8rem !important;
      padding-left: 0.3rem;

      .expand-header {
        display: flex;
        align-items: center;

        .expand-title {
          margin: 0 0.5rem;
          font-size: var(--node-viz-default-font-size, variables.$application-default-font-size);
          font-weight: 700;
        }

        .expand-btn {
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 0.8rem;
          line-height: 0.8rem;
          color: #a6a6a6;
          font-size: 0.7rem;
          border: 1px solid #a6a6a6;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .expand-toolbar {
        z-index: 2;
      }
    }
  }

  .expand-panel-content {
    background: var(--node-viz-expansion-detail-background, variables.$expansion-detail-background);
    color: var(--node-viz-expansion-detail-color, variables.$expansion-detail-color);
  }
}
