<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Examples</title>
</head>

<body>
    <h1>Reveal streaming examples</h1>

    <ul>
        <% _.forEach(examples, function(example) { %>
            <li><a href="<%- example.page %>"><%- example.title %></li>
        <% }); %>
    </ul>
</body>

</html>
