name: Visual Testing (Dependabot)

on: pull_request_target

jobs:
  visual-testing-dependabot:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    name: Visual Testing
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          cache: yarn
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        # Ignore scripts because they can steal the token
        run: yarn install --ignore-scripts --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_READONLY_TOKEN }}
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
